
<div id="ModulePage" class="container-fluid">

    <div id="navbarInicio" class="row">

        <div class="col-lg align-self-start">

          <img class="logo_Quipux" src="assets/img/logo.png">

        </div>
            
        <div class="col-lg-3 ">

            <div class="row">

                <div id="UserProfile" class="col-lg align-self-end ">

                  <p id="User"><span style="padding-right:5%;"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" color="#494949 " fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></span>Usuario Apellido<span style="padding-left:5%; color:#0797DA;"><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg></span></p>

                  <span id="PhotoUser" style="padding-right:5%;"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" color="#494949 " fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></span>


                </div>
            </div>
  
          </div>

    </div>

    <div id="banner" class="row">

        <div id="SearchSection" class="col-lg">

            <h1 id="titleBanner">¿Que quieres buscar?</h1>
            <br>
            <p>Encuentra la información que desees consultar...</p>

            <div class="search-box col-md-9">               
                <form action="">
                    <div class="input-group border border-primary rounded-3 mb-3">
                        <div class="input-group-prepend">
                            <button id="dropdown" class="dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos los servicios <span id="dropdownIcon" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                              </svg></span></button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Category One</a>
                              <a class="dropdown-item" href="#">Category Two</a>
                              <a class="dropdown-item" href="#">Category Three</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated Category</a>
                            </div>
                        </div>
                        <input id="buscador" type="text" class="form-control" label="Search input with dropdown button">
                        <div class="input-group-append">
                            <button id="buttonSearch" class="btn btn-success" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


        <div class="col-lg-4">
            
          <img class="bannerImage" src="assets/img/resource-1.png">

          <div class="row">

            <div id="TitleImageBanner" class="col-lg">

                <p>SERVICIOS QUIPUX</p>

            </div>

          

          </div>
        </div>

    </div>

    <div id="promoServicios" class="row">

        <div class="col-lg-8"> 

            <div id="serviciosInfo" class="row shadow-sm">

                <div id="servicios" class="col-lg">
                 
                    <h5>Certificado</h5>
                  
                    <p>Conoce los beneficios que tenemos para ti al registrarte</p>
                    <br>
                    <button>+beneficios</button>

                </div>

                <div id="servicios" class="col-lg">
                 
                    <h5>Crear Cuenta</h5>
                   
                    <p>Conoce los beneficios que tenemos para ti al registrart</p>
                    <br>
                    <button>Ver todo</button>

                </div>

                <div id="servicios" class="col-lg">
                 
                    <h5>Top Trámites</h5>
                  
                    <p>Conoce lostrámites más solicitados</p>
                    <br>
                    <br>
                    <button>Ver todo</button>

                </div>

            </div>
        </div>

        <div id="tramitesInfo" class="col-lg">

            <h3>Trámites en tu mano</h3>
            <p>Ahora podrás hacer todos tus trámtes desde la comodidad de tu casa, desde cualquier dispositivo, computadora, tablet o móvil.</p>
          
            <div class="row">

                <div  class="col-lg-2">
                    <img src="assets/img/progress_number.PNG">
                </div>

                <div id="progressBar" class="col-lg">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">

        <div id="logoFooter" class="col-lg align-self-center">
         <img src="assets/img/logo.png">
        </div>

    </div>

  

</div>


